
<!DOCTYPE html>
<html>
<head>
	<title>my website</title>
</head>
<body>
	<div id="header">
		my personal website
	</div>

	<div id="nav">
	<a style="text-decoration:none;color:#000000;" class='lianjie' href="http://www.wangshu.site/Info" ><pre>公司信息</pre></a><br>
	<a style="text-decoration:none;color:#000000" href="http://www.wangshu.site/Examples" >	<pre>案例欣赏</pre></a><br>
	<a style="text-decoration:none;color:#000000" href="http://www.wangshu.site/Contact" >	<pre>联系我们</pre></a><br>
	</div>
	<div id="pingxin">
		<div id="section" class="div-inline">
			<h1>简介</h1>
				<p>
					恍恍惚惚恍恍惚惚恍恍惚惚哈哈哈
				</p>
				<p>
					恍恍惚惚恍恍惚惚恍恍惚惚哈哈哈红红火火恍恍惚惚红红火火
				</p>
			<div id="another" class="div-inline">
				<h1>测试</h1>
				<p>
					我们是。。。。。。。。。。。。。。。。
				</p>
				<p>
					选择我们。。。。。。。。。。。
				</p>
			</div>
		</div>

		<div id="wrap">
			<img src="static/header.jpg">
		</div>
	</div>
	<div id="footer">
		Copyright www.wangshu.site
	</div>
</body>
</html>

<style>
#wrap {
 display:block;
 bottom:0px;
 left:0px;
 /*position:fixed;*/
 border:1px solid #fff;
 text-align:justify;
 }

#pingxing {
	display:inline;
}
#another {
	display:inline;
	 bottom:0px;
	 left:0px;
	 text-align:left;
}
#header {
    background-color:#97CBFF;
    color:white;
    text-align:center;
    padding:75px; 
    font-size: 50px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:150px;
    float:left;
    padding:30px;
    text-align:center;
    font-size: 25px;
}

.div-inline{ display:inline}

#section {
    width:350px;
    float:left;
    padding:10px; 
    text-align:left;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}